.rodape {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 4em;
    text-align: center;
}

.icone {
    color: white;
    background-color: #2c51ff;
    width: 2em;
    height: 2em;
    font-size: 2em;
    border-radius: 100%;
    border: none;
}

.copy {
    font-size: 0.75em;
    color: gray;
    margin: 4em;
}