.page {
    background-image: url('./imagens/bg-callout.jpg ');
    height: 40em;
    background-size: 100% 40em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.welcome {
    font-size: 2em;
}

.download {
    border: 1% solid #3f48cc;
    border-radius: 4px;
    padding: 20px 20px;
    background-color: #3f48cc;
    font-size: 14px;
    margin: 2em;
}

.color {
    color: white;
    text-decoration: none;
}

.italico {
    margin: 0;
    padding: 0;
}