.responsividade {
    background-color: #3f48cc;
    height: 100%;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

.services {
    color: #efb807;
    font-size: 15px;
}

.what {
    color: white;
}

.responsivo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2em;
    flex-wrap: wrap;
}

.service-buttons {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.icone-service {
    color: #3f48cc;
    background-color: white;
    width: 2em;
    height: 2em;
    font-size: 2em;
    border-radius: 100%;
    border: none;
    margin-bottom: 6px;
}

.service-text {
    font-size: 10px;
    color: #c0cbff;
    margin: 6px;
}