.texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background-size: 100% 30em;
    padding: 2em;
    height: 20em;
}

.letra {
    font-size: 1.5em;
}

.letras {
    font-size: 1em;
}

.botao {
        border: 1% solid #343a40;
        border-radius: 10px;
        padding: 10px 10px;
        background-color: #343a40;
        font-size: 10px;
}

.boton {
    color: white;
}